<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ampte B Marak's Blog</title>
    <style>
        *{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="home">
        <h1>Hello world</h1>
        <h2>This is Ampte B Marak!!</h2>
        <h3>The blog is currently unavailable!!</h3>
        <button onclick="alert('Welcome to Ampte B Maraks blog!!')">Click Me!</button>
    </div>
</body>
</html>